annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asyncpg==0.31.0
black==26.3.1
click==8.3.2
colorama==0.4.6
dnspython==2.8.0
docstring_parser==0.17.0
email-validator==2.3.0
fastapi==0.136.1
h11==0.16.0
httptools==0.7.1
idna==3.11
inflection==0.5.1
Jinja2==3.1.6
lxml==6.1.0
MarkupSafe==3.0.3
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
# Editable install with no version control (piccolo==1.30.0)
-e /Users/utkarsh/Desktop/Utkarsh/Projects/piccolo-orm__piccolo__1342
pillow==12.2.0
platformdirs==4.9.6
pydantic==2.12.5
pydantic_core==2.41.5
pypdf==6.10.2
python-dotenv==1.2.2
python-multipart==0.0.26
python-pptx==1.0.2
pytokens==0.4.1
PyYAML==6.0.3
starlette==1.0.0
targ==0.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
xlsxwriter==3.2.9
